.change-nav{
    background-color:white !important;
    position:fixed !important;
    top:0;
    left:0;
    right:0;

    width:100%;

    z-index:9999;
}
.ecommerce-logo{
    height:70px;
}
.ecommerce-logo img{
    width:100%;
    height:auto;
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}
